In [2]:
#This is a comment

In [3]:
""" This
is 
a
long
comment"""

' This\nis \na\nlong\ncomment'

In [4]:
list = ['Orange', 'Mango', 'Apple']
list

['Orange', 'Mango', 'Apple']

In [5]:
for item in list:
    print(item)

Orange
Mango
Apple

In [7]:
dic = {'firstName':'Allarassem','lastName': 'Maxime', 'email': 'allarassemaxwell@gmail.com'}

In [8]:
for item in dic:
    print(item)

firstName
lastName
email

In [17]:
firstName = "allarassem"
firstName.replace('allarassem', 'Maxwell')

'Maxwell'

In [19]:
firstName.count(firstName)

1

In [26]:
firstName.find('m')

9

In [27]:
list.append('Tv')

In [28]:
list

['Orange', 'Mango', 'Apple', 'Tv']

In [29]:
tuple = {'Orange', 'Apple', 'Bread'}
tuple

{'Apple', 'Bread', 'Orange'}

In [31]:
tuple.add('Rice')

In [32]:
tuple

{'Apple', 'Bread', 'Orange', 'Rice'}

In [33]:
tuple.add('Mango')
tuple

{'Apple', 'Bread', 'Mango', 'Orange', 'Rice'}

In [34]:
tuple.add('Mango')
tuple

{'Apple', 'Bread', 'Mango', 'Orange', 'Rice'}

In [35]:
students = ['Emma ', 'Sandy','Sara','James', 'Ethan']
for pupil in students:
  print(f'Current Pupil: {pupil}')

Current Pupil: Emma
Current Pupil: Sandy
Current Pupil: Sara
Current Pupil: James
Current Pupil: Ethan

In [39]:
import datetime
from datetime import date
import time
from time import time
today = date.today()
timestamp = time()

print("======== TO DAY ========")
print(today)
print("\n======== TIMESTAMP ========")
print(timestamp)

======== TO DAY ========
2021-05-19

======== TIMESTAMP ========
1621422463.5288162